<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <staticContent>
            <remove fileExtension=".csv" />
            <remove fileExtension=".geojson" />
            <mimeMap fileExtension=".WEAP" mimeType="application/weap" />
            <mimeMap fileExtension=".csv" mimeType="text/csv" />
            <mimeMap fileExtension=".geojson" mimeType="application/geo+json" />
        </staticContent>
    </system.webServer>
</configuration>
